[Unit]
Description=Phabricator daemons via. phd
After=mysql.service
Wants=mysql.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
WorkingDirectory=/opt/phabricator
ExecStart=/opt/phabricator/phabricator/bin/phd start
ExecStop=/opt/phabricator/phabricator/bin/phd stop
RemainAfterExit=yes

User=phab
Group=phab

#[Hardening]

# No filesystem by default

# strict isn't supported in Ubuntu 16.04, so start with full then try to upgrade
ProtectSystem=full
ProtectSystem=strict

# these three protects aren't supported in Ubuntu 16.04, but don't add value as we should have no privs
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectKernelModules=true

ProtectHome=true

PrivateDevices=true
PrivateTmp=true

# can't be "NoNewPrivileges=true" as that breaks sendmail/postfix, due to setgid postdrop(1).
CapabilityBoundingSet=

# setting this causes us to fail to start, which is a bug(?) in systemd
#SecureBits=keep-caps-locked no-setuid-fixup no-setuid-fixup-locked noroot noroot-locked

# shouldn't need to launch many tasks
TasksMax=10
